<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Biodata Siswa</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="biodata-page"> 
  <!-- Navbar -->
  <nav class="navbar">
    <h2 class="logo">Laporan PKL</h2>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/pendahuluan">Pendahuluan</a></li>
      <li><a href="/profil">Profil IDUKA</a></li>
      <li><a href="/biodata" class="active">Biodata Siswa</a></li>
      <li><a href="/kompetensi">Kompetensi</a></li>
      <li><a href="/kesan">Kesan & Pesan</a></li>
      <li><a href="/dokumentasi">Dokumentasi</a></li>
    </ul>
  </nav>

  <!-- Hero Section -->
  <section class="hero">
    <div class="overlay"></div>
    <div class="content">
      <h1>BIODATA SISWA</h1>
    </div>
  </section>

  <!-- Biodata Section -->
  <section class="biodata" id="biodatasiswa">
    <div class="biodata-container">
      <div class="biodata-img">
        <img src="{{ url_for('static', filename='b.jpeg') }}" alt="Foto Priskila">
      </div>

      <div class="biodata-text">
        <h2>Priskila Anastasya Soumeru</h2>
        <p>Halo! Nama saya <strong>Priskila Anastasya Soumeru</strong>, biasa dipanggil <strong>Kila</strong>. Saya lahir di Ambon pada tanggal 19 Juli 2008 dan saat ini berusia 17 tahun.</p>

        <p>Saya tinggal di <strong>Perumahan Pondok Mutiara singosari Dengkol Blok E No 5</strong>. Saya merupakan siswi dari <strong>SMKN 8 Malang</strong> kelas XII RPL A, jurusan <strong>Rekayasa Perangkat Lunak</strong>.</p>

        <p>Hobi saya antara lain olahraga, menonton Film, membaca, belajar, bernyanyi. Saat ini, saya sedang melaksanakan <strong>Praktik Kerja Lapangan (PKL)</strong> di <strong>BBPPMPV BOE Malang</strong>, pada bidang <strong>Data Informatika</strong>.</p>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <div class="footer-bar">
    <p>BBPPMPV BOE Malang | Jl. Teluk Mandar, Arjosari, Kec. Blimbing, Kota Malang, Jawa Timur 65102 | Data Informatika</p>
  </div>
</body>
</html>
