<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profil IDUKA & Visi Misi</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="profil-page"> 

  <!-- Navbar -->
  <nav class="navbar">
    <h2 class="logo">Laporan PKL</h2>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/pendahuluan">Pendahuluan</a></li>
      <li><a href="/profil" class="active">Profil IDUKA</a></li>
      <li><a href="/biodata">Biodata Siswa</a></li>
      <li><a href="/kompetensi">Kompetensi</a></li>
      <li><a href="/kesan">Kesan & Pesan</a></li>
      <li><a href="/dokumentasi">Dokumentasi</a></li>
    </ul>
  </nav>

  <!-- Hero Section -->
  <section class="hero">
    <div class="overlay"></div>
    <div class="content">
      <h1>PROFIL IDUKA</h1>
      <p>Informasi tentang BBPPMPV BOE MALANG</p>
    </div>
  </section>

  <!-- Profil BOE -->
  <section class="profil" id="profilBOE">
    <div class="profilBOE-container">
      <div class="profilBOE-img">
        <img src="static/1.jpeg" alt="profil">
      </div>
      <div class="profilBOE-text">
        <h2>BBPPMPV BOE MALANG </h2>
        <p>
          Balai Besar Pengembangan Penjaminan Mutu Pendidikan Vokasi Bidang Otomotif dan Elektronika (BBPPMPV BOE) Malang berawal dari program Diploma III Guru Kejuruan (D3GK) yang dimulai pada Agustus 1985 di STM Negeri Malang. Pada tahun 1986, lembaga ini berpindah ke kampus baru di Arjosari, Malang, dan mulai menjalin kerja sama antara Indonesia–Swiss dalam pengembangan pendidikan kejuruan.
          Kerja sama tersebut terus berlanjut hingga tahun 1997, yang menghasilkan berbagai kemajuan seperti pengembangan program pendidikan, pelatihan guru, pembentukan unit produksi, serta pendirian sekolah binaan. Pada tahun 2000, lembaga ini ditetapkan sebagai Center of Indonesian-German Institute (IGI), dan pada tahun 2003 berhasil meraih sertifikasi ISO 9001:2000 serta mendirikan Malang Innovation Technopark sebagai pusat inovasi dan teknologi.
          Selanjutnya, pada tahun 2008, berdasarkan Permendiknas No. 8 Tahun 2007, nama PPPGT resmi berubah menjadi PPPPTK BOE Malang, yang kemudian bertransformasi menjadi BBPPMPV BOE Malang sebagaimana dikenal saat ini.
          <br><br>
          Dalam perkembangannya, BBPPMPV BOE Malang terus berupaya meningkatkan mutu pendidikan vokasi melalui berbagai program strategis seperti Mapping Kompetensi, Diklat Guru Kejuruan, serta kerja sama dengan industri. Pada tahun 2017, lembaga ini berhasil meraih predikat Wilayah Bebas dari Korupsi (WBK) sebagai bentuk komitmen terhadap tata kelola yang transparan dan akuntabel. Selanjutnya, pada tahun 2020, berdasarkan Permendikbud No. 26 Tahun 2020, lembaga ini resmi bertransformasi menjadi Balai Besar Pengembangan Penjaminan Mutu Pendidikan Vokasi Bidang Otomotif dan Elektronika (BBPPMPV BOE) Malang.
          Selain itu, BBPPMPV BOE Malang juga memperoleh penghargaan Wilayah Birokrasi Bersih dan Melayani (WBBM) serta berbagai prestasi nasional dalam pengembangan Sumber Daya Manusia (SDM) vokasi, pelatihan berbasis industri, pembelajaran digital, dan inovasi pendidikan. Hingga tahun 2024, BBPPMPV BOE Malang tetap berkomitmen menjadi pusat unggulan dalam pengembangan dan penjaminan mutu pendidikan vokasi di bidang otomotif dan elektronika di Indonesia.
        </p>
      </div>
    </div>
  </section>

  <!-- Pemimpin -->
  <section class="profil" id="profilBOE">
    <div class="profilBOE-container">
      <div class="profilBOE-img">
        <img src="static/m.jpeg" alt="pemimpin">
      </div>
      <div class="profilBOE-text">
        <h2>Pemimpin BBPPMPV BOE MALANG </h2>
        <p>
          Balai Besar Penjamin Pengembangan Mutu Pendidikan Vokasi Bidang Elektronika dan Otomotif (BBPPMPV BOE) Malang, yang berada di bawah naungan Kementerian Pendidikan, Kebudayaan, Riset, dan Teknologi (Kemendikbudristek), saat ini dipimpin oleh <strong>Dr. I Gusti Made Ardana, S.Pd., M.T.</strong>
        </p>
      </div>
    </div>
  </section>

  <!-- VISI MISI -->
  <section class="visi-misi-section">
    <h1 class="judul-visi-misi">Visi, Misi, dan Tujuan</h1>

    <div class="visi-misi-container">

      <!-- Bagian Visi -->
      <div class="visi">
        <h2>Visi</h2>
        <p>
          Mewujudkan pendidikan berkualitas tinggi yang merata dan  berkelanjutan didukung oleh infrastruktur dan teknologi.
        </p>
      </div>

      <!-- Bagian Misi -->
      <div class="misi">
        <h2>Misi</h2>
        <ul>
          Membangun rakyat Indonesia yang  menjadi pembelajar seumur hidup yang unggul, 
          terus berkembang sejahtera dan berakhlak mulia dengan menumbuhkan nilai-nilai budaya Indonesia dan Pancasila.
        </ul>
      </div>
    </div>

    <!-- Tujuan di bawah -->
    <div class="tujuan">
      <h2>Tujuan</h2>
      <ul>
        <li>penjaminan mutu peserta didik, sarana prasarana, dan tata kelola pendidikan vokasii</li>
        <li>Pelaksanaan penyelarasan pendidikan vokasi sesuai dengan kebutuhan dunia usaha dan dunia industri</li>
        <li>Pelaksanaan fasilitasi dan peningkatan kompetensi pendidik dan tenaga kependidikan pada pendidikan vokasi.</li>
        <li>Pengelolaan data dan informasi</li>
        <li>Pelaksanaan kerja sama di bidang pengembangan penjaminan mutu pendidikan vokasi</li>
        <li>Pelaksanaan evaluasi pengembangan penjaminan mutu pendidikan vokasi</li>
        <li>Pelaksanaan urusan administrasi</li>
      </ul>
    </div>
  </section>

  <!-- Footer -->
  <div class="footer-bar">
    <p>BBPPMPV BOE Malang | Jl. Teluk Mandar, Arjosari, Kec. Blimbing, Kota Malang, Jawa Timur 65102 | Data Informatika</p>
  </div>

</body>
</html>
